= form_for @feed, :remote => true, :html => {:class => 'remote-form'} do |f|
  - if @feed.errors.any?
    #error_explanation
      %h2= "#{pluralize(@feed.errors.count, "error")} prohibited this feed from being saved:"
      %ul
        - @feed.errors.full_messages.each do |msg|
          %li= msg

  .feed-add
    .content
      %span.light
      .field
        = f.text_field :feed_url, :placeholder => "Add your Thunderlink by entering an RSS feed URL"
    .action
      = f.submit ''
