- if user_signed_in?
  %h1 Your Thunderlinks
  = link_to "Sign out", destroy_user_session_path, :method => :delete
  = link_to "Add Thunderlink", new_feed_path

  %h1 All Users Feeds generated
  %ol.feeds
    - @feeds.each do |feed|
      %li.feed[feed]
        = render :partial => 'feeds/feed_link', :locals => {:feed => feed}
- else
  %h1 This is Thunderlink
  = link_to "Sign up", new_user_registration_path
  = link_to "Sign in", new_user_session_path


/ = link_to(visit_path(:id => feed.id), :method => :put, :target => '_blank', :remote => true) do